html {
    --main-text-color: #171717;
    --head-color:#404040;
    --text-color: #737373;
    --button-color:#0ea5e9;
    background-color:#f5f5f5;
    font-family: 'Roboto', sans-serif;
    
}
 *{
    box-sizing: border-box;
 }

.main-container {
    width: 1024px;
    height: 900px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    
   

}

button {
    background-color: var(--button-color);
    color: white;
    padding: 10px;
    position: center;
    border: var(--button-color);
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 25px;

}

.main-container-image {
    height: 900px;  
    width: 450px;
    background-image: url(images/mountains-1.jpg);
    background-size: cover;
    background-position: top;
}

.main-container-content {
    max-height: 900px;  
    width: 600px;
    padding-left: 10px; 
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px;

}


h1 {
    color: #0284c7;
    font-size: 20px;
    font-weight:700;
    margin-bottom: 10px;
    padding-left: 13px;
}

.about-person {
    max-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 30px;
    border-bottom: #e5e5e5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 610px;

}
    
    
input {
    padding: 10px;
    border-radius: 6px;
    border: #e5e5e5;
    border-width: 1px;
    border-style: solid;
    box-shadow: 1px 1px 1px 1px #f5f5f5;
    cursor: pointer;
      
}


.about-person-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 15px;
    margin-bottom: 5px;
    color: var(--main-text-color);
    font-size: 15px;
    width: calc((100% - 20px * 1) / 2);
}

h2 {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 20px;
}

.adress {
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: #e5e5e5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.adress-container {
    max-width: 610px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    flex-basis: 0;
    flex-grow: 1;
    gap: 20px;


}

/*
div {
    border: #171717;
    border-width: 1px;
    border-style: solid;
}*/





.adress-content-adress-delivery{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    font-size: 14px;
}

.adress-content-adress-delivery label{
    padding-bottom: 5px;
}

.adress-content {
    display: flex;
    flex-direction: column;
    width: calc((100% - 20px * 2) / 3);
    font-size: 14px;

}

.notification {
    display: flex;
    flex-direction: column;
    max-width: 610px; 
    margin-top: 30px; 
    border-bottom: #e5e5e5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.notification-choices {
    display: flex;
    flex-direction: column; 
}

p {
    font-size: 13px;
    color: var(--text-color);
    margin-bottom: 5px;
    line-height: 20px;
}

.notification-choices {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: #e5e5e5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    
}

.adress-content label{
    padding-bottom: 5px;
}

.about-person-content label{
    padding-bottom: 5px;
}

.notification-choice {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    
    
}

.checkbox {
    appearance: none;
    width: 15px;
    height: 15px;
    border-style: solid;
    border-color: var(--button-color);
    border-width: 1px;
    margin-right: 15px;
    
}

.checkbox:checked {
background-color: #0284c7;
background-image: url(images/check_icon.png);
background-size: contain;
}

.notification-choice label {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 500;
}

label {
    font-weight: 500;
    color:#2e2a2a;
}